body {
  overflow: hidden;
  background: linear-gradient(rgb(247, 247, 241), white);
}

.container {
  /* border: 1px solid black; */
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  border: 1px solid white;
  width: 370px;
  margin: auto;
  border-radius: 2px;
  background-color: #f2f2f2;
  padding: 15px 15px 20px 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

#inputBox {
  box-sizing: border-box;
  width: 100%;
  padding: 40px 5px;
  background: whitesmoke;
  text-align: right;
  direction: ltr;
  outline: none;
  border: none;
  font-size: 28px;
}

.btn {
  width: 24%;
  height: 45px;
  border-radius: 1px;
  border: none;
  outline: none;
  margin-top: 3px;
  background: whitesmoke;
}

.btnEqual {
  width: 99%;
  height: 45px;
  border-radius: 1px;
  border: none;
  outline: none;
  margin-top: 3px;
  background: whitesmoke;
}

.btn:hover {
  background: lightgrey;
}

.btnEqual:hover {
  background-color: lightgrey;
}

@media (max-width: 480px) {
  .btn {
    width: 23.4%;
  }
}
@media (max-width: 320px) {
  .btn {
    width: 23%;
  }
}
